h1 {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 85px;
    margin-bottom: 0;
    font-weight: 900;
    color: white;
}

h2 {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 65px;
    margin-top: 5px;
    margin-bottom: 35px;
    color:firebrick;
    font-weight:100;
}

h3 {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    font-weight:100;
}

h4 {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:black;
    font-weight:100;
}

body{
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.pure-g {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    margin-bottom: 45px;
    font-size: 20px;
    background-color: #ffffff;
    padding: 3px 20px 3px 3px;
    border-width: 15px;
}

p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.block {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #ffffff;
	
}

#chart1 {
	bottom: 10px; 
	left: 40px;
	right: 30px;
    top: 0px;
}

.titles {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 1mm 20px 1mm 1mm;
    background-color: firebrick;
    color: #eff7f7;
}


